[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Jose Cedeno
	email = jose.cedeno@oregonstate.edu
[core]
	excludesfile = ~/.gitignore_global
[alias]
    lg=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
